<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<br><br><br><br>
			<h1 class="text-center" style="color:blue;font-size:20;text-align: center;"> A NLP Web-app with Flask</h1>
		</div>
		<h4 class="text-center">Spam Detector For Email Messages</h4>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
			<div class="form-group">
				<label for="exampleFormControlTextarea3"><h3 class="text-center">Enter Your Messages :</h3></label>
				<textarea name="message" class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
		<br/>

		<input  type="submit" class="btn-info" value="predict">
		
	</form>
		</div>
	</div>

	
	

</body>
</html>
